@import '../../config/style/mixins.scss';

.pagination {
    display: flex;
    margin: 3% auto;
    width: 40%;

    &__btn {
        @include btn;

        border-radius: 10px;
        padding: 2% 4%;
    }

    &__page {
        position: absolute;
        left: 5%;
        font-weight: 500;

        .active {
            color: $blue;
            margin-left: 5px;
        }
    }

    &__list {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 100%;

        li {
            cursor: pointer;
            list-style-type: none;
            margin: 2%;
        }
    }
}
